
.body{
	
	}


.icons{
color:#7f7f7f;
	font-size: 20px;
	margin-bottom: 15px;
}

.main__icons{
	font-size: 30px;
	margin-bottom: 40px;
	color:#333333;
}

.navbar-right{
	
	position: fixed;
	right: 0px;
	
}
.menu{
	list-style-type: none;
	margin-right: 65px;
}
/**/